.group-details-container {
  padding: 2rem;
  background-color: #fdfdfd;
}

.group-details-title {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 1rem;
}

.group-students-section {
  margin-top: 2rem;
}

.group-students-list {
  list-style-type: none;
  padding-left: 0;
}

.group-student-item {
  padding: 0.5rem;
  border-bottom: 1px solid #ddd;
}
